* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    place-content: center;
    text-align: center;
    background-color: gray;

}

header {
    background-color: green;
    margin-bottom: 15px;
}

header h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(206, 241, 3);
    margin: 15px;
}

a {
    color: black;
    margin-bottom: 15px;
}

span {
    font-weight: bold;
}

p {
    max-width: 400px;
    margin: 15px;
    margin: auto;
    
}

a:hover {
    font-weight: bold;
}

img {
    max-width: 400px;
    margin: 15px;
}

label {
    text-align: left;
    margin: auto;
}

select {
    width: 250px;
    margin-bottom: 15px;
    padding: 0 10px;
    margin: 0 auto 15px;

}

.exemplos_listas {
    color: black;
    margin: auto;
}

.listas {
    display: flex;
    align-items: center;
    gap: 100px;
    margin: 15px auto;
}

ul {
    text-align: left;
    background-color: yellow;
}

.green {
    color: green;
}

.red {
    color: red;
}

.black {
    color: black;
}

ol {
    text-align: left;
    line-height: 30px;
    background-color: magenta;
}

button {
    background-color: rgb(4, 4, 63);
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    width: 300px;
    font-size: 12px;
}

button:hover {
    background-color: blue;
}

footer {
    width: 100vw;
    background-color: black;
    border: 1px solid white;
    padding: 6px;
    font-size: 10px;
    margin-top: 20px;
}